.container_main {
	max-width: 900px;
	margin: 0 auto;
	padding: 0;
}



.container_2-page {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 ;

}

.container_3-page {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 ;

}


