<div 
*ngIf="toggle;" 
class="reg-app__container col-w">
	<app-logo></app-logo>
	<p style="margin-bottom: 3rem; font-size: 16px;">
		Add a new player to start the game
	</p>
	<div class="form_field">
		<form>
			<div class="form-group form_field__nick-name">
				<label for="nickName">
					Nickname
				</label>
				<input 
					required minlength="3" 
					[maxlength]="maxLength" 
					ngModel name="nickName" 
					#nickName="ngModel"
					id="nickName" 
					class="form-control" 
					type="text" 
					autofocus>
				<div 
					class="alert alert-danger" 
					*ngIf="nickName.touched && !nickName.valid">
					<div *ngIf="nickName.errors.required">
						Nickname is required.
					</div>
					<div *ngIf="nickName.errors.minlength">
						Nickname should be minimum
						{{nickName.errors.minlength.requiredLength}}
						characters.
					</div>
					<div>
						Nickname should be maximum 20 characters.
					</div>
				</div>
			</div>
			<div class="form-group form_field__e-mail">
				<label for="email">
					e-mail
				</label>
				<input 
					[pattern]="regExpEmail[0]" 
					id="email" 
					ngModel 
					name="email" 
					#email="ngModel" 
					class="form-control"
					type="email">
				<div 
					class="alert alert-danger" 
					*ngIf="!email.valid">
					Email is not valid.
				</div>
			</div>
			<div>
				<button 
					(click)="addUser(nickName, email);" 
					type="submit" 
					class="form_field__button add">
					Add
				</button>
			</div>
		</form>
	</div>
</div>
<div *ngIf="!toggle && !toggleGamePage">
	<div class="container_2-page">
		<div class="logo_box">
			<app-logo class="logo"></app-logo>
		</div>
		<div class="main_box">
			<div class="choice-page">
				<!-- Search field -->
				<div class="choice__user_box">
					<p class="col-w">
						Select players
					</p>
					<div class="header_user_box">
						<form>
							<div class="search_box">
								<input 
									#searchInput="ngModel"
									(input)="search(searchInput.value)" 
									(keydown.enter)="findUser()"							
									ngModel name="searchInput"
									id="searchInput"
									class="search_input field" 
									type="text" 
									placeholder="Search"
									>
								<fa-icon [icon]="searchIcon" 
									class="search_button"
									(click)="findUser()">
								</fa-icon>
							</div>
						</form>
						<button 
							(click)="toggleCards()" 
							class="add_new-player add">
							New player
						</button>
					</div>
					<div 
						*ngIf="showErr == true" 
						class="alert alert-danger">
						<div>
							No player with that name
						</div>
					</div>
				</div>		
					<ul *ngIf="userService.usersArrayCopy[0] == undefined">
						<li
							*ngFor="let user of userService.usersArray; let i = index;" 
							(click)="playerChoice(i); changeColor(i)"
							class="user_box field"
							[class.active]="user.active==true"
							>
							<div class="name_field">
								{{user?.name}}
							</div>
							<div class="email_field">
								{{user?.email}}
							</div>
							<div 
								(click)="remove(user?.name)" 
								class="delete_user">
								x
							</div>
						</li>
					</ul>
					<ul *ngIf="userService.usersArrayCopy[0] !== undefined">
						<li
							*ngFor="let user of userService.usersArrayCopy; let i = index;" 
							(click)="playerChoice(i); changeColor(i)"
							class="user_box field"
							[class.active]="user.active==true"
							>
							<div class="name_field">
								{{user?.name}}
							</div>
							<div class="email_field">
								{{user?.email}}
							</div>
							<div 
								(click)="remove(user?.name)" 
								class="delete_user">
								x
							</div>
						</li>
					</ul>
				</div>
			<div class="choose_game col-w">
				<p>
					Choose game
				</p>
			</div>
			<div>
				<button 
					(click)="Game_501()" 
					class="choice_game__button"
					[class.choice_game]="choice_501 == true">
					501
				</button>
				<button 
					(click)="Game_301()" 
					class="choice_game__button"
					[class.choice_game]="choice_301 == true">
					301
				</button>
			</div>
			<div class="game_button__box">
				<button 
					(click)="checkStart()" 
					class="add game_button">
					Start
				</button>
			</div>
				<div
					class="alert alert-danger" 
					*ngIf="showErr_chooseGame == true || showErr_selectPlayers == true">
					<div 
						*ngIf="showErr_chooseGame == true" >
							<div>
								Choose a game
							</div>
					</div>
					<div 
						*ngIf="showErr_selectPlayers == true"
						style="margin-top: -1px;"> 
							<div>
								Players must be 3. Select players.
							</div>
					</div>
				</div>
		</div>
		<div class="empty_box"></div>
	</div>
</div>
<app-game-page 
	class="container_2-page" 
	*ngIf="!toggle && toggleGamePage">
</app-game-page>