<div class="darts_box">

	<div class="darts_box__main col-w">

		<div class="first_field">
			<p>Dart 1</p>
			<p>Dart 2</p>
			<p>Dart 3</p>
		</div>
		
		<li class="main_box__first-player flex-r">
			
			<div class="second-field">
				<div>
					<p>Sherlock Holmes</p>
					<input type="number">
					<button (click)="active()" class="_1">1x</button>
					<button (click)="active()" class="_2">2x</button>
					<button (click)="active()" class="_3">3x</button>
				</div>
				<div>
					<input type="number">
					<button (click)="active()" class="_1">1x</button>
					<button (click)="active()" class="_2">2x</button>
					<button (click)="active()" class="_3">3x</button>
				</div>
				<div>
					<input type="number">
					<button (click)="active()" class="_1">1x</button>
					<button (click)="active()" class="_2">2x</button>
					<button (click)="active()" class="_3">3x</button>
				</div>
			</div>

		</li>
		<li class="main_box__first-player flex-r">
			
			<div class="second-field">
				<div>
					<p>Mrs. Stubbs</p>
					<input type="number">
					<button (click)="active()" class="_1">1x</button>
					<button (click)="active()" class="_2">2x</button>
					<button (click)="active()" class="_3">3x</button>
				</div>
				<div>
					<input type="number">
					<button (click)="active()" class="_1">1x</button>
					<button (click)="active()" class="_2">2x</button>
					<button (click)="active()" class="_3">3x</button>
				</div>
				<div>
					<input type="number">
					<button (click)="active()" class="_1">1x</button>
					<button (click)="active()" class="_2">2x</button>
					<button (click)="active()" class="_3">3x</button>
				</div>
			</div>

		</li>
		<div class="main_box__first-player flex-r">
			
			<div class="second-field">
				<div>
					<p>123</p>
					<input type="number">
					<button (click)="active()" class="_1">1x</button>
					<button (click)="active()" class="_2">2x</button>
					<button (click)="active()" class="_3">3x</button>
				</div>
				<div>
					<input type="number">
					<button (click)="active()" class="_1">1x</button>
					<button (click)="active()" class="_2">2x</button>
					<button (click)="active()" class="_3">3x</button>
				</div>
				<div>
					<input type="number">
					<button (click)="active()" class="_1">1x</button>
					<button (click)="active()" class="_2">2x</button>
					<button (click)="active()" class="_3">3x</button>
				</div>
			</div>

		</div>
		
	</div>
	
	<div class="darts_box__button">
		<button class="add">Add</button>
	</div>
</div>

<div>
	
</div>


