.logo {
	color: #ffffff;
	text-align: right;
	margin-bottom: 3rem;
	line-height: .9;

	.first-word {
		font-size: 28px;
	};

	.second-word {
		font-size: 50px;
	};

	.copyright {
		text-align: right;
		margin-top: .5rem;
	};
};