<div>
	<div>
		<div class="header_box">
			<app-logo></app-logo>
			<button (click)="newGame()" class="new_game__button add">
				New game
			</button>
		</div>
	</div>
	<div class="darts_box">
		<div class="darts_box__main col-w">
			<!-- Блок с именами -->
			<div class="usersName_box col-w">
				<div 
					class="usersName_box__userName" 
					*ngFor="let user of userService.choiceUsersToGame">
					{{user?.name}}
				</div>
			</div>
			<div class="darts_box__main_box">
				<div class="first_field">
					<p>
						Dart 1
					</p>
					<p>
						Dart 2
					</p>
					<p>
						Dart 3
					</p>
				</div>
				<div class="main_box__players_box flex-r">
					<!-- 1 user -->
					<!-- <div class="players_box__1-player flex-r"> -->
					<div 
						*ngFor="let user of userDartValue; let idxUser = index">
							<div 
								class="players_box__1-player flex-r"
								*ngFor="let darts of user; let idxDart = index">
									<input 
										[(ngModel)]="darts.dart"
										type="number"
										placeholder="0">
											<button 
											[class.activeBtn]="darts.active_1 === true"
											(click)="currantHitPoints(darts.dart, idxUser, idxDart, factor=1)" class="_1">1x</button>
											<button 
											[class.activeBtn]="darts.active_2 === true"
											(click)="currantHitPoints(darts.dart, idxUser, idxDart, factor=2)" class="_2">2x</button>
											<button 
											[class.activeBtn]="darts.active_3 === true"
											(click)="currantHitPoints(darts.dart, idxUser, idxDart, factor=3)" class="_3">3x</button>	
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="darts_box__button">
			<button 
				(click)="addStep()" 
				class="add">
				Add
			</button>
		</div>
		<div *ngIf="gameOver.victory_20_Steps === true || gameOver.victory_30_Steps === true">
			<div class="alert alert-winner col-w">
				<p>
					Game Over!
				</p>
				<p>
					Winner {{winnerUser}}!
				</p>
			</div>
		</div>
		<div *ngIf="gameOver.draw_20 === true">
			<div class="alert alert-winner col-w">
				<p>
					Game Over!
				</p>
				<p>
					Draw! Winner - {{winnerUser}}!
				</p>
			</div>
		</div>
		<div *ngIf="gameOver.draw_30 === true">
			<div class="alert alert-winner col-w">
				<p>
					Game Over!
				</p>
				<p>
					Draw!
				</p>
			</div>
		</div>
		<div *ngIf="gameOver.additionalRounds === true">
			<div class="alert alert-winner col-w">
				<p>
					Draw! Additional 10 Rounds!
				</p>
			</div>
		</div>
		<div 
		*ngIf="impossobility.status === true">
			<div class="alert alert-winner col-w">
				{{impossobility.user}} scored {{impossobility.point}} point(s) - {{impossobility.user}} cannot win by doubling!
			</div>
		</div>
	</div>
	<!-- Блок с именами -->
	<div class="usersName_box col-w">
		<div 
			class="usersName_box__userName" 
			*ngFor="let user of userService.choiceUsersToGame">
			<!-- Имя игрока -->
			{{user?.name}}
		</div>
	</div>
	<div 
	class="table_box col-w" 
	id="table_box">
		<div class="table_line">
			<!-- Step -->
			<div>
				<div class="table_line__step_box col-g">
				</div>
			</div>
			<!-- Main info -->
			<div>
				<div class="table_line__points_box col-g">
					<p 
					*ngFor="let user of userService.usersGameArrayCopy">
					{{user?.points}}
				</p>
				</div>
			</div>
			<!-- Info -->
			<div 
				class="table_line__info_box col-w" 
				[title]="titleStartInfo">
				&#9786;
			</div>
		</div>
		<!-- Блок с таблицей (3 части)-->
		<div 
		*ngFor="let step of usersRemaningPoints; let idx = index"
		class="table_line">
			<!-- Step -->
			<div>
				<div class="table_line__step_box col-w">
					{{usersRemaningPoints[idx][0].step}}
				</div>
			</div>
			<!-- Main info -->
			<div>
				<div class="table_line__points_box col-g">
					<p>
						{{usersRemaningPoints[idx][0].point}}
					</p>
					<p>
						{{usersRemaningPoints[idx][1].point}}
					</p>
					<p>
						{{usersRemaningPoints[idx][2].point}}
					</p>
				</div>
			</div>
			<!-- Info -->
			<div 
			class="table_line__info_box col-w" 
			[title]="titleStepInfo">
				&#9786;
			</div>
		</div>
	</div>
</div>