.header_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2rem;
	border-bottom: 1px solid #5ec3f4;

	.new_game__button{
		width: 150px;
	}
}

.darts_box {

	.darts_box__main_box {
		display: flex;
	}
	
	.first_field {

		height: 140px;

		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-around;
	}
	
	.darts_box__main {

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		padding: 0 0 5rem;
		
		input {
			width: 6rem;
			height: 40px;
			margin: .2rem;
			margin-right: 0;
		
			border: none;
			border-radius: 3px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		
			background-color: #ffffff;
		}

		button {
			width: 3rem;
			height: 3rem;
			border: .2rem solid #4d5061
		}
		
		button._2 {
			width: 2.8rem;
			border-left: .1rem;
			border-right: .1rem;
		}

		button._3 {
			border-top-right-radius: 18px;
			border-bottom-right-radius: 18px;
		}
	}

	.main_box__players_box {

		width: 820px;

		display: flex;
		flex-flow: inherit;

		button:focus, button:active {
			background-color: #4d5061;
			color: #ffffff;
		}

		.players_box__1-player {
			display: flex;
			justify-content: flex-end;
		}
		.players_box__2-player {
			display: flex;
			justify-content: flex-end;
		}
		.players_box__3-player {
			display: flex;
			justify-content: flex-end;
		}
	}
	
	.darts_box__button {
		display: flex;
		justify-content: center;
		padding-bottom: 5rem;
		border-bottom: 1px solid #5ec3f4;

		button {
			width: 400px;
		}
	}
}

.usersName_box {
	width: 820px;
    display: flex;
    justify-content: space-between;
    padding: 35px 0px 10px 50px;

	.usersName_box__userName {
		display: flex;
		justify-content: center;
		width: 33%;
	}
}

.table_box {

	max-width: 900px;

	display: flex;
    flex-flow: column-reverse;
    justify-content: left;
    align-items: flex-end;
	
	.table_line {
		display: flex;
		justify-content: right;

		.table_line__step_box {

			padding: 15px;

			display: flex;
			justify-content: right;
			align-items: center;
		}

		.table_line__points_box {

		width: 780px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 2px;
		padding: 15px 0px;
		background-color: #ffffff;

			p {
				display: flex;
				justify-content: center;
				width: 33%;
			}
		}

		.table_line__info_box {

			width: 40px;

			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}







