<div>
	<div>
		<div class="header_box">
			<app-logo></app-logo>
			<button (click)="newGame()" class="new_game__button add">New game</button>
		</div>
	</div>

	<div class="darts_box">
		<div class="darts_box__main col-w">
			<!-- Блок с именами -->
			<div class="usersName_box col-w">
				<div class="usersName_box__userName" *ngFor="let user of userService.choiceUsersToGame">
					{{user?.name}}
				</div>
			</div>

			<div class="darts_box__main_box">
				<div class="first_field">
					<p>Dart 1</p>
					<p>Dart 2</p>
					<p>Dart 3</p>
				</div>
				<div class="main_box__players_box flex-r">

					<!-- 1 user -->
					<div class="players_box__1-player flex-r">
						<div>
							<!-- 1 Dart -->
							<input [(ngModel)]="_User1_dart_1" type="number">
							<button (click)="_User_1_addDart_1x1(_User1_dart_1)" class="_1">1x</button>
							<button (click)="_User_1_addDart_1x2(_User1_dart_1)" class="_2">2x</button>
							<button (click)="_User_1_addDart_1x3(_User1_dart_1)" class="_3">3x</button>
						</div>
						<div>
							<!-- 2 Dart -->
							<input [(ngModel)]="_User1_dart_2" type="number">
							<button (click)="_User_1_addDart_2x1(_User1_dart_2)" class="_1">1x</button>
							<button (click)="_User_1_addDart_2x2(_User1_dart_2)" class="_2">2x</button>
							<button (click)="_User_1_addDart_2x3(_User1_dart_2)" class="_3">3x</button>
						</div>
						<div>
							<!-- 3 Dart -->
							<input [(ngModel)]="_User1_dart_3" type="number">
							<button (click)="_User_1_addDart_3x1(_User1_dart_3)" class="_1">1x</button>
							<button (click)="_User_1_addDart_3x2(_User1_dart_3)" class="_2">2x</button>
							<button (click)="_User_1_addDart_3x3(_User1_dart_3)" class="_3">3x</button>
						</div>
					</div>

					<!-- 2 user -->
					<div class="players_box__2-player flex-r">
						<div>
							<!--  user-field -->
							<input [(ngModel)]="_User2_dart_1" type="number">
							<button (click)="_User_2_addDart_1x1(_User2_dart_1)" class="_1">1x</button>
							<button (click)="_User_2_addDart_1x2(_User2_dart_1)" class="_2">2x</button>
							<button (click)="_User_2_addDart_1x3(_User2_dart_1)" class="_3">3x</button>
						</div>
						<div>
							<!--  user-field -->
							<input [(ngModel)]="_User2_dart_2" type="number">
							<button (click)="_User_2_addDart_2x1(_User2_dart_2)" class="_1">1x</button>
							<button (click)="_User_2_addDart_2x2(_User2_dart_2)" class="_2">2x</button>
							<button (click)="_User_2_addDart_2x3(_User2_dart_2)" class="_3">3x</button>
						</div>
						<div>
							<!--  user-field -->
							<input [(ngModel)]="_User2_dart_3" type="number">
							<button (click)="_User_2_addDart_3x1(_User2_dart_3)" class="_1">1x</button>
							<button (click)="_User_2_addDart_3x2(_User2_dart_3)" class="_2">2x</button>
							<button (click)="_User_2_addDart_3x3(_User2_dart_3)" class="_3">3x</button>
						</div>
					</div>

					<!-- 3 user -->
					<div class="players_box__3-player flex-r">
						<div>
							<!-- 3 user-field -->
							<input [(ngModel)]="_User3_dart_1" type="number">
							<button (click)="_User_3_addDart_1x1(_User3_dart_1)" class="_1">1x</button>
							<button (click)="_User_3_addDart_1x2(_User3_dart_1)" class="_2">2x</button>
							<button (click)="_User_3_addDart_1x3(_User3_dart_1)" class="_3">3x</button>
						</div>
						<div>
							<!-- 3 user-field -->
							<input [(ngModel)]="_User3_dart_2" type="number">
							<button (click)="_User_3_addDart_2x1(_User3_dart_2)" class="_1">1x</button>
							<button (click)="_User_3_addDart_2x2(_User3_dart_2)" class="_2">2x</button>
							<button (click)="_User_3_addDart_2x3(_User3_dart_2)" class="_3">3x</button>
						</div>
						<div>
							<!-- 3 user-field -->
							<input [(ngModel)]="_User3_dart_3" type="number">
							<button (click)="_User_3_addDart_3x1(_User3_dart_3)" class="_1">1x</button>
							<button (click)="_User_3_addDart_3x2(_User3_dart_3)" class="_2">2x</button>
							<button (click)="_User_3_addDart_3x3(_User3_dart_3)" class="_3">3x</button>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="darts_box__button">
			<button (click)="addStep()" class="add">Add</button>
		</div>
	</div>

	<!-- Блок с именами -->
	<div class="usersName_box col-w">
		<div class="usersName_box__userName" *ngFor="let user of userService.choiceUsersToGame">
			<!-- Имя игрока -->
			{{user?.name}}
		</div>
	</div>

	<div class="table_box col-w" id="table_box">
		<div class="table_line">

			<!-- Step -->
			<div>
				<div class="table_line__step_box col-g"></div>
			</div>

			<!-- Main info -->
			<div>
				<div class="table_line__points_box col-g">
					<p *ngFor="let user of userService.usersGameArrayCopy">{{user?.points}}</p>
				</div>
			</div>

			<!-- Info -->
			<div class="table_line__info_box col-w" [title]="titleStartInfo">
				&#9786;
			</div>
		</div>

		<!-- Блок с таблицей (3 части)-->
		<div class="table_line" *ngFor="let step of usersRemaningPoints; let idx = index">

			<!-- Step -->
			<div>
				<div class="table_line__step_box col-w">
					{{usersRemaningPoints[idx][0].step}}
				</div>
			</div>

			<!-- Main info -->
			<div>
				<div class="table_line__points_box col-g">
					<p>{{usersRemaningPoints[idx][0].point}}</p>
					<p>{{usersRemaningPoints[idx][1].point}}</p>
					<p>{{usersRemaningPoints[idx][2].point}}</p>
				</div>
			</div>

			<!-- Info -->
			<div class="table_line__info_box col-w" [title]="titleStepInfo">
				&#9786;
			</div>
		</div>

	</div>
</div>